@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    font-kerning: auto;
}

@font-face {
	font-family: 'aboutFont';
	src: url('/fonts/about-font-reg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'headerFont';
	src: url('/fonts/header-font-med.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-kerning: auto;
}

@font-face {
	font-family: 'headerFontBold';
	src: url('/fonts/header-font-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-kerning: auto;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  list-style: none;
  color: black;
}

nav button:hover {
  text-decoration: underline;
}

ul li:hover {
  text-decoration: underline;
}

input,
textarea {
  display: inline-block;
  color: black;
}

.word-spacing {
  word-spacing: -.8ch;
}

.word-spacing-tight {
  word-spacing: -.4ch;
}

.inline-address p {
  display: inline-block;
}

.drp-shadow {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}
 
.prints-grid {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  place-items: center;
  row-gap: 2.5rem;
  column-gap: 1.5rem;
}

.details-grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  margin-top: 64px;
}

.details-grid .image {
  justify-self: center;
  align-self: center;
  padding: 3rem;
}

.details-grid .print-details {
  justify-self: center;
  align-self: center;
}

.details-grid .reviews {
  grid-column: span 2;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-from-left {
  animation: slideFromLeft 1s ease-in-out forwards;
}

.animate-slide-from-right {
  animation: slideFromRight 1s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 750ms infinite linear;
}